In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [6]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')

In [7]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#создадим столбец profit с прибылью фильмов

data['profit'] = data['revenue'] - data['budget']

#создадим функцию для вычисления длины описания фильмов

def len_words(s):
    return len(s.split(' ')) 
 
#граница 99% для задачи 26
s = data_per['vote_average'].quantile(q=0.99)

NameError: name 'data_per' is not defined

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа

# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides'
import pandas as pd 
#из для максимального значения из столбца бюджет выводим название фильма

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data[data.budget == data.budget.max()]['original_title']

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals'

In [ ]:
answers['2'] = '2. Gods and Generals'
import pandas as pd
#для самой большой велична столбца с длиной фильмов выводим название фильма

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data[data.runtime == data.runtime.max()]['original_title']

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = '3. Winnie the Pooh'
import pandas as pd 
#для минимального значения столбца с длиной фильмов выводим название фильма

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data[data.runtime == data.runtime.min()]['original_title']

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = '4. 110'
import pandas as pd 
#выводим среднее занчение столбца с длиной фильмов

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data['runtime'].mean()

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = '5. 107'

import pandas as pd 
#выводим медианное значение столбца с длиной фильмов

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['5'] = '5. Avatar'

In [ ]:
answers['5'] = '5. Avatar'

import pandas as pd 
#по дополнительно созданному столбцу с прибылью фильмов берем максимальное значение и выводим название

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.max()]['original_title']

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = '7. The Lone Ranger'

import pandas as pd 
#по дополнительно созданному столбцу с прибылью фильмов берем минимальное значение и выводим название

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.min()]['original_title']

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = '8. 1478'

import pandas as pd 
#по дополнительно созданному столбцу с прибылью фильмов пишем условие прибыли и считаем количество подходящих id

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data['profit'] = data['revenue'] - data['budget']
data[data.profit > 0]['imdb_id'].count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = '9. The Dark Knight'

In [ ]:
answers['9'] = '9. The Dark Knight'

import pandas as pd 
#проводим сортировку по 2008 году по условию выручки, начиная с максимальной, первое значение выводим 

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data[(data.release_year == 2008) & (data['revenue'])].sort_values('revenue', ascending=False).head(1)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = '10. The Lone Ranger'

import pandas as pd 
#для заданного диапазона годов выхода фильмов проводим сортировку по прибыли, начиная с миниальной, первое значение выводим

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)].sort_values('profit').head(1)

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '11. Drama'
import pandas as pd 
#разделяем данные в столбце с жанрами, затем сортируем начиная с максимального значения

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data2 = data.copy()
data2['genres'] = data.genres.str.split('|')
data2 = data2.explode('genres')
data2 = data.genres.value_counts().sort_values(ascending=False)

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = '12. Drama'
import pandas as pd 
#с помощью метода query прописываем условие, подготавливаем стобец с жанрам и выводим полученые значения

df = pd.read_csv('movie_bd_v5.csv', na_values=False)
df2 = df.query('revenue > budget').copy()
df2['genres'] = df2.genres.str.split('|')
df2=df2.explode('genres')
profit_genre = df2.genres.value_counts()
profit_genre

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = '13. Peter Jackson'

import pandas as pd 
#группируем столбец с режиссерами по кассовым сборам,суммарное значение которых выводим начиная с максимального 

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = '14. Robert Rodriguez'

import pandas as pd 
#в столбце с жанрами ищем нужный, соответствующих режиссеров сортируем по количеству фильмов в этом жанре 

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data[data.genres.str.contains('Action')]['director'].value_counts().sort_values(ascending = False)

15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = '15. Chris Hemsworth'

import pandas as pd
#подготавливаем столбец с актерами для фильмов 2012 года, группируем и по условию максимальных кассовых сборов выводим максимально значение

df = pd.read_csv('movie_bd_v5.csv')
df = df[df.release_year == 2012]
df.cast = df.cast.str.split('|')
df = df.explode('cast')
df.groupby('cast').revenue.sum().idxmax()

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = '16. Matt Damon'

import pandas as pd
#создаем столбец actors из столбцы cast, подготовленный для группировки, затем выводим значения, соответствующие бюджету

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data['actors'] = pd.Series(data['cast'].str.split('|'))
data_actors = data.explode('actors')
data = data_actors[(data_actors.budget > data_actors.budget.mean())]
print(data.actors.value_counts())

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = '17. Action'

import pandas as pd
#в столбце с актерами ищем нужное имя, разделяем данные в столбце с жанрами и выводим полученные значения для данного актера

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts()

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = '18. K-19: The Widowmaker'

import pandas as pd
#разделяем данные в столбце с компаниями, отбираем нужную для задачи, сортируем по столбцу с прибылью начиная с минимального значения

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data2 = data.copy()
data2['profit'] = data2['revenue'] - data2['budget']
data2['production_companies'] = data2['production_companies'].str.split('|')
data2 = data2.explode('production_companies')
data2 = data2[(data2['production_companies'] == 'Paramount Pictures')]
data2.sort_values(by = 'profit', ascending=False).tail(1)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [12]:
answers['19'] = '19. 2015'

import pandas as pd
#групиируем годы выпуска фильмов по суммарному значению выручки, выводим начиная с максимальноо

data = pd.read_csv('movie_bd_v5.csv')
data = data.groupby('release_year')['revenue'].agg([sum])
data = data.sort_values(by=['sum'], ascending = False)
data

                      sum
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '20. 2014'

import pandas as pd
#в столбце с названиями компаний ищем нужную, группируем года выпускапо значению прибыли, выводим начиная с максимально1

df = pd.read_csv('movie_bd_v5.csv', na_values=False)
df['profit'] = df['revenue'] - df['budget']
df = df[df['production_companies'].str.contains('Warner Bros')]
df = df.groupby(['release_year'])['profit'].agg([sum])
df = df.sort_values(by=['sum'], ascending=False)
print(df.head(1))

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = '21. Сентябрь'
import pandas as pd
#обозначаем столбец с датами, выводим значение по месяцам

data = pd.read_csv('movie_bd_v5.csv', parse_dates = ['release_date'], na_values=False)
data2 = data.copy()
data2.release_date.dt.month.value_counts()

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [14]:
answers['22'] = '22. 450'

import pandas as pd
#обозначаем столбец с датами, применяем функцию для нужных месяцев, выводим первое значение

data = pd.read_csv('movie_bd_v5.csv', parse_dates = ['release_date'], na_values=False)
data2 = data.copy()
data2['release_date'] = pd.to_datetime(data2['release_date'])
data2.release_date = data2.release_date.apply(lambda x: x.strftime('%B'))
data2.query('release_date in ["June", "July", "August"]').shape[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [15]:
answers['23'] = '23. Peter Jackson '

import pandas as pd
#обозначаем столбец с датами, применяем функцию для нужных месяцев, разделям данные в столбце с режиссерами, выводим полученные данные

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data2 = data.copy()
data2['release_date'] = pd.to_datetime(data2['release_date'])
data2.release_date = data2.release_date.apply(lambda x: x.strftime('%B'))
data2_1 = data2.query('release_date in ["January", "February", "December"]')
data2_2 = data2_1.director.str.split('|')
data2_2 = data2_1.explode('director')
data2_2.director.value_counts()

Peter Jackson                  7
Clint Eastwood                 6
Steven Soderbergh              6
Adam Shankman                  4
Shawn Levy                     4
                              ..
Michael Rymer                  1
Christian E. Christiansen      1
McG                            1
Darren Aronofsky               1
Neil Nightingale|Barry Cook    1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = '24. Four By Two Productions'
import pandas as pd
#Разделяем данные в столбце с компаниями, пишем функцию для определения длины названия, создаем с ее помощью новый столбец с длинами названий, создаем таблицу с длинами названий и команиями, сортируем по значению длины названия фильма 

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data2 = data.copy()
data2['production_companies'] = data2.production_companies.str.split('|')
data2 = data2.explode('production_companies')

def len_words(s):
    return len(s.split(' '))

data2['len_title'] = data2.original_title.apply(len_words)
p_studios = data2.pivot_table(['len_title'],['production_companies'], aggfunc='max').sort_values(by='len_title', ascending = False)
p_studios

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = '25. Midnight Picture Show' 

import pandas as pd
#Разделяем данные в столбце с компаниями, пишем функцию для определения длины описания? создаем с ее помощью новый столбец, сортируем по максимальному значению столбца с длинами описания, первое значение выводим


data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data2 = data.copy()
data2['production_companies'] = data2.production_companies.str.split('|')
data2 = data2.explode('production_companies')

def len_words(s):
    return len(s.split(' '))

data2['len_overview'] = data2.overview.apply(len_words)
p_studios = data2.pivot_table(['len_overview'],['production_companies'], aggfunc='max').sort_values(by='len_overview', ascending = False).index[0]
p_studios

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

import pandas as pd
#обозначаем границу 99% по нужным данным, выводим соответствующие значения в отдельной переменной 

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
data_per = data.copy()
s = data_per['vote_average'].quantile(q=0.99) #граница 99%
new_data = data_per[data_per['vote_average'] > data_per['vote_average'].quantile(q=0.99)]
new_data

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [16]:
answers['27'] = '27. Daniel Radcliffe, Rupert Grint'

import pandas as pd
import itertools
#разделяем данные в столбце с актерами, фильтруем пары актеров, выводим первые пять значений

data = pd.read_csv('movie_bd_v5.csv', na_values=False)
df = data.copy()
df['cast'] = df.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
df1 = df.explode('cast')
display(df1.cast.value_counts().head())

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
Name: cast, dtype: int64

ВАРИАНТ 2

# Submission

In [10]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'22': '22. 450'}

In [11]:
# и убедиться что ни чего не пропустил)
len(answers)

1